<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>此網站可以進行簡易查詢104的職缺</h2>
    <div>
        <form action="/submit" method="post">
            <label for="kw">尋找工作關鍵字:</label>
            <input type="text" id="kw" name="kw" required><br><br>

            <label for="locations">上班地點:</label>
            <select name="locations" id="locations" multiple required>
                <option value="6001001000">台北市</option>
                <option value="6001002000">新北市</option>
                <option value="6001005000">桃園市</option>
                <option value="6001006000">新竹縣市</option>
                <option value="6001008000">台中市</option>
                <option value="6001014000">台南市</option>
                <option value="6001016000">高雄市</option>
            </select><br><br>


            <p>詳細職缺內容關鍵字:</p>
            <p>工作地點地點:</p>
            <p>全職或兼職:</p>
        </form>


    </div>


</body>

</html>